* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: black;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes slide2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.logos {
  margin-top: auto;
  overflow: hidden;
  padding: 2.5% 0;
  background: white;
  white-space: nowrap;

}

.logos-slide {
  display: inline-block;
  animation: slide 10s infinite linear;
}

.logos-slide-2 {
  display: inline-block;
  animation: slide2 10s infinite linear;
}

.logos img {
  width: 9%;
  margin: 0 1%;
}

.main-body {
  display: flex;
  flex: 1;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-text{
    color: white;
}

.main-head-text{
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 6em;
    margin-top: 5%;
}

.main-sub-text{
    font-family: 'Nova Square', sans-serif;
    margin-top: 5%;
}

.navbar{
    display: flex;
    justify-content: space-between;
    height: 10%;
    padding: 0 2.5%;
}

.nav-brand{
    height: 100%;
}

.nav-text{
    font-family: 'Libre Barcode 128', system-ui;
    color: white;
    display: inline-block;
    font-size: 2.5em;
}


/* CSS */
.button-59 {
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-59:focus {
  color: #171e29;
}

.button-59:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.button-59:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}