* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: black;
}

.create-button {
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer {
  position:fixed;
  bottom: 0;

}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 5% 0;
  background: white;
  white-space: nowrap;
  width: 100%;
}

.logos-slide {
  display: inline-block;
  animation: 10s slide infinite linear;
}

.logos-slide img {
  height: 60px;
  margin: 0 50px;
}

.main-body {
  margin: 0;

}

.main-container {
  height: 100vh;
}

.main-text{
    color: white;
    margin: 5% 0 0 5%;
}

.main-head-text{
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 6em;
    margin-top: 5%;
}

.main-sub-text{
    font-family: 'Nova Square', sans-serif;
    margin-top: 5%;
}

.navbar{
    display: flex;
    justify-content: space-between;
    height: 10%;
    padding: 0 2.5%;
}

.nav-brand{
    height: 100%;
}

.nav-text{
    font-family: 'Libre Barcode 39 Text', system-ui;
    color: white;
    display: inline-block;
    font-size: 2.5em;
}


/* CSS */
.button-59 {
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-59:focus {
  color: #171e29;
}

.button-59:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.button-59:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}