<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Meta Kabegami</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="icon" href="static/images/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+128&family=Libre+Barcode+39+Text&display=swap&family=Libre+Barcode+39+Extended+Text&family=Major+Mono+Display&family=Nova+Square&family=Sedgwick+Ave+Display&display=swap" rel="stylesheet">
</head>
<body>
    <div class="loading-screen"><p class="loading-text">Loading...</p></div>
    <div class="loading-screen" id="generate-screen" style="display: none;"><p class="loading-text">Cooking Up Your Wallpaper...</p></div>
    <div class="main-container">
        {% include 'navbar.html' %}
        <div class="main-body container-fluid">
            <div>
                <div class="row">
                    <div class="col-sm-4 col-md-12 col-lg-4">
                        <div class="main-text">
                            <h1 class="main-head-text">Meta Kabegami</h1>
                            <h2 class="main-sub-text">An NFT Wallpaper Generator</h2>
                        </div>
                    </div>
                    <div class="create-group col-sm-8 col-md-12 col-lg-8">
                        <form action="{{ url_for('main_page') }}" method="POST" id="create-form">
                            <div class="form-contents">
                                <div class="nft-submit-text">
                                    <label for="pname" id="pname-label" class="nft-label">
                                        <span class="nft-text">NFT Link</span>
                                        <span class="nft-icon-wrapper">
                                            <img src="static/images/Rarible.svg" alt="Rarible Icon" class="nft-icon">
                                        </span>
                                    </label>
                                </div>
                                <input type="text" id="pname" name="pname" placeholder="Paste NFT Image URL"><br>
                                <button type="submit" class="btn" role="button">Let It Cook</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row footer">
                <div class="logos col-sm-8">
                    <div class="logos-slide">
                        <img src="static/images/NFT-images/Azuki-1.png">
                        <img src="static/images/NFT-images/BAYC-1.png">
                        <img src="static/images/NFT-images/Kitaro-1.png">
                        <img src="static/images/NFT-images/Azuki-2.png">
                        <img src="static/images/NFT-images/BAYC-2.png">
                        <img src="static/images/NFT-images/Kitaro-2.png">
                        <img src="static/images/NFT-images/Azuki-3.png">
                        <img src="static/images/NFT-images/BAYC-3.png">
                        <img src="static/images/NFT-images/Kitaro-3.png">
                        <img src="static/images/NFT-images/Kitaro-4.png">
                    </div>
                    <div class="logos-slide">
                        <img src="static/images/NFT-images/Azuki-1.png">
                        <img src="static/images/NFT-images/BAYC-1.png">
                        <img src="static/images/NFT-images/Kitaro-1.png">
                        <img src="static/images/NFT-images/Azuki-2.png">
                        <img src="static/images/NFT-images/BAYC-2.png">
                        <img src="static/images/NFT-images/Kitaro-2.png">
                        <img src="static/images/NFT-images/Azuki-3.png">
                        <img src="static/images/NFT-images/BAYC-3.png">
                        <img src="static/images/NFT-images/Kitaro-3.png">
                        <img src="static/images/NFT-images/Kitaro-4.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script>
      $(document).ready(function () {
        function hideLoadingScreen() {
                $('.loading-screen').fadeOut('slow');
              }

        // Attach an event listener to the window's load event
        $(window).on('load', function() {
            setTimeout(hideLoadingScreen, 1000); // 1000 milliseconds delay
        });

        $("#create-form").on("submit", function () {
            $("#generate-screen").fadeIn('slow');
        });
      })
    </script>
</body>
</html>