<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Meta Kabegami</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="icon" href="static/images/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+128&family=Libre+Barcode+39+Text&display=swap&family=Libre+Barcode+39+Extended+Text&family=Major+Mono+Display&family=Nova+Square&family=Sedgwick+Ave+Display&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main-container">
        <nav class="navbar">
            <img src="static/images/logo.png" alt="Logo." class="nav-brand">
            <h1 class="nav-text">72 6e 64 6d 73</h1>
        </nav>

        <div class="main-body container-fluid">
            
            <div class="row">
                <div class="col-sm-4">
                    <div class="main-text">
                        <h1 class="main-head-text">Meta Kabegami</h1>
                        <h2 class="main-sub-text">An NFT Wallpaper Generator</h2>
                    </div>
                </div>
                <div class="create-group col-sm-8">
                    <form action="{{ url_for('create_page') }}" method="post">
                      <label for="pname" id="pname-label">NFT Link:</label>
                      <input type="text" id="pname" name="pname" placeholder="Enter an NFT Image Address"><br><br>
                      <button type="submit" class="button-59" role="button" onclick="">Create</button>
                    </form>
                </div>
            </div>

            <div class="row footer">
                <div class="logos col-sm-8">
                    <div class="logos-slide">
                        <img src="static/images/NFT-images/Azuki-1.png">
                        <img src="static/images/NFT-images/BAYC-1.png">
                        <img src="static/images/NFT-images/Kitaro-1.png">
                        <img src="static/images/NFT-images/Azuki-2.png">
                        <img src="static/images/NFT-images/BAYC-2.png">
                        <img src="static/images/NFT-images/Kitaro-2.png">
                        <img src="static/images/NFT-images/Azuki-3.png">
                        <img src="static/images/NFT-images/BAYC-3.png">
                        <img src="static/images/NFT-images/Kitaro-3.png">
                        <img src="static/images/NFT-images/Kitaro-4.png">
                    </div>
                    <div class="logos-slide">
                        <img src="static/images/NFT-images/Azuki-1.png">
                        <img src="static/images/NFT-images/BAYC-1.png">
                        <img src="static/images/NFT-images/Kitaro-1.png">
                        <img src="static/images/NFT-images/Azuki-2.png">
                        <img src="static/images/NFT-images/BAYC-2.png">
                        <img src="static/images/NFT-images/Kitaro-2.png">
                        <img src="static/images/NFT-images/Azuki-3.png">
                        <img src="static/images/NFT-images/BAYC-3.png">
                        <img src="static/images/NFT-images/Kitaro-3.png">
                        <img src="static/images/NFT-images/Kitaro-4.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>